h1{
    font-size: 2.1rem;
}
*{
    background-color: #1b1b32;
    text-align: center;
}
.img-fcc-logo{
    width: 300px;
    height: auto;
    padding: 10px 0 10px 0;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    gap: 10px;
}
